@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  height: 100vh;
  background: whyte;
  font-size: 20px;
}

a {
  color: rgb(54, 9, 241);
  font-weight: bold;
  text-shadow: 1px 1px 1px black, 1px 1px 5px black;
}

video {
  position: fixed;
  top: 0%;
  left: 0%;
  min-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.capa {
  position: fixed;
  top: 0%;
  left: 0%;
  min-width: 100%;
  max-height: 100%;
  background: #1c1c1d;
  opacity: 0.5;
  mix-blend-mode: overlay;
  z-index: -1;
}

header {
  font-family: "Fuzzy Bubbles", cursive;
  background-size: 1250px, cover;
  background-repeat: no-repeat;
  background-position: center;
}
header nav {
  display: grid;
  grid-template-columns: 120px 1fr;
  background: rgba(0, 0, 0, 0.2);
  padding: 5px 20px;
  border-bottom: 1px solid rgb(250, 234, 255);
}
header nav figure img {
  width: 100%;
}
header nav ul {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
}
header nav ul li {
  margin-right: 20px;
}
header section {
  display: grid;
  display: green;
  grid-template-columns: 1fr 300px;
  padding: 50px 20px;
  -moz-column-gap: 100px;
       column-gap: 100px;
  background: rgba(0, 0, 0, 0.2);
}
header section blockquote {
  color: white;
  text-shadow: 1px 1px 1px black, 1px 1px 5px black;
  font-size: 1em;
  background: rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: justify;
}
header section blockquote figure img {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin: 80px;
  border: 5px solid blue;
}
header section form {
  padding: 20px;
  padding-top: 100px;
  background: rgba(0, 0, 0, 0.2);
}
header section form input, header section form button, header section form a {
  margin-bottom: 20px;
}
header section form input {
  padding: 10px;
  width: calc(100% - 25px);
}
header section form button {
  width: 100%;
  font-size: 1m;
  background: rgb(34, 15, 242);
  padding: 15px;
  border: none;
  color: white;
  cursor: pointer;
}
header section form a {
  display: block;
  text-align: center;
}

main {
  padding: 100px 120px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 80px;
  -moz-column-gap: 60px;
       column-gap: 60px;
  font-family: "Lobster", cursive;
}
main section h1 {
  color: white;
  text-shadow: 1px 1px 1px black, 1px 1px 5px black;
  font-size: 2em;
  background: rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: justify;
}
main section h2 {
  color: white;
  text-shadow: 1px 1px 1px black, 1px 1px 5px black;
  font-size: 2em;
  background: rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: justify;
}
main section h3 {
  color: white;
  text-shadow: 1px 1px 1px black, 1px 1px 5px black;
  font-size: 2em;
  background: rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: justify;
}
main section h4 {
  color: white;
  text-shadow: 1px 1px 1px black, 1px 1px 5px black;
  font-size: 2em;
  background: rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: justify;
}
main section h5 {
  color: white;
  text-shadow: 1px 1px 1px black, 1px 1px 5px black;
  font-size: 2em;
  background: rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: justify;
}

footer {
  color: white;
  background: rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  body {
    background: green;
  }
  header {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  header nav {
    grid-template-columns: 40px 1fr;
  }
  header section {
    grid-template-columns: 1fr;
  }
  header section blockquote figure {
    display: none;
  }
  main {
    grid-template-columns: 1fr;
    padding: 30px 5px;
  }
  main section {
    border-bottom: 1px solid rgb(250, 234, 255);
  }
}
@media screen and (min-width: 600px) {
  body {
    background: rgba(0, 0, 0, 0.2);
  }
}/*# sourceMappingURL=style.css.map */